body
{
    background-color: rgb(83, 188, 236);
}

header
{
    /* ABAIXO ESTÃO AS CONFIGURAÇÕES DA TAG DE CABEÇALHO DA PAGINA ->(HEADER) */
    font: normal 20pt Arial;
    color: black;
    background-color: white;
    height: 100px;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 5px black;
    justify-content: space-between;


    /* ABAIXO ESTÃO AS CONFIGURAÇÕES DAS DIVS QUE ESTÃO DENTRO DA TAG HEADER */

    .acoexp
    {
        margin: auto;
        display: flex;
        width: 50%;
        justify-content: space-between;
        align-items: center;
    }
    .contorno_aco
    {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid transparent; 
    }
    .contorno_exp
    {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid transparent; 
    }
    .aco
    {
        padding: 0 20px 0 20px;
        border-radius: 15px; 
        transition: 0.2s ease;
        cursor: pointer;
    }
    .linhar_aco
    {
        border-bottom: 2px solid black;;
        
    }
    .linhar_exp
    {
        border-bottom: 2px solid black;
    }
    .exp
    {
        padding: 0 20px 0 20px;
        border-radius: 15px; 
        transition: 0.2s ease; 
        cursor: pointer;
    }
    .alteratedBackground
    {
        background-color: rgba(0, 0, 0, 0.1);
    }
    .logo
    {
        margin-left: 30px;
    }
    .perfil
    {
        .botao
        {
            background-color: #effbff;
            border: none;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            cursor: pointer;
            transition: 0.5s ease;
        }
        .img
        {
            opacity: 80%;
        }

        .profileBox
        {
            display: none;
            position: absolute;
            right: 100px;
            background-color: #effbff;
            padding: 20px;
            width: 100px;
            min-width: 100px;
            max-width: 250px;
            min-height: 100px;
            max-height: 250px;
            border-radius: 12px;
            box-shadow: 1px 1px 1px rgb(3, 75, 97);
            animation: animacao .2s forwards; 
        }
        .exibir
        {
            display: flex;
        }
        margin-right: 130px;
        cursor: pointer;
        
        .c-exit
        {
        text-decoration: none;
        color: black;
        }

    }

    

}

.pesquisa
{
    /* ABAIXO ESTÃO AS CONFIGURAÇÕES DA TAG DO CORPO DA PAGINA ->(SECTION) */
    font-family: sans-serif;
    background: white;
    padding: 15px;
    border-radius: 12px;
    width: 50%;
    margin: 50px auto;
    box-shadow: 2px 2px 2px rgb(4, 97, 126);
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* ABAIXO ESTÃO AS CONFIGURAÇÕES DAS DIVS QUE ESTÃO DENTRO DA TAG SECTION*/


    /* --------!-------
    Modificar o .hospede e .destino para ficar o fundo cinza quando passar o mouse
    e também colocar border radius 30%*/
    
    .hospede
    {
        padding: 8px 8px 8px 8px;
        cursor: pointer;
    }
    .binv
    {
        border-left: 2px solid rgb(0, 0, 0);
        padding: 25px;
        position: relative;
        left: 40px;
    }
    .destino
    {
        cursor: pointer;
        padding: 8px;
    }
    .destino .Bdestino
    {
        color: gray;
        font-size: 13px;
    }
    .hospede .hospedes
    {
        color: gray;
        font-size: 13px;
    }
    .contorno-lupa
    {
        height: 35px;
        width: 35px;
        background-color: skyblue;
        border-radius: 50%;
        padding: 5px;
        transition: 1s ease;
    }
    .lupa
    {
        filter: invert(1);
        cursor: pointer;
    }
    .shadow
    {
        filter: brightness(88%);
    }
}

.icones
{
    width: 45%;
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-family: sans-serif;
    border-radius: 50px;
    background-color: white;
    
    img
    {
        margin-bottom: 5px;
    }
}

.conteudoh
{
    margin: 3rem 0 0 0;    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    border-radius: 30px 30px 0 0;

    .box
    {
        padding: 10px 10px 0 10px;
        background-color: #fff;
        border-radius: 30px;
        margin: 10px;
        width: 300px;
        height: 450px;
        margin-bottom: 2rem;
        cursor: pointer;
    }

    img
    {
        width: 100%;
        height: 70%;
        border-radius: 15px;
        margin-bottom: 5px;
    }

    p
    {
        font-size: 22px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden; 
    }
}

footer
{
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media(max-width: 781px)
{
    header .logo img
    {
        width: 100px;
        height: 70px;
    }

    header .logo 
    {
        margin-left: 10px;
    }
    
    header .perfil 
    {
        margin-right: 50px;
    }

    header .acoexp
    {   
        position: relative;
        right: 3%;
    }
    header .profileBox
    {
        position: absolute;
        right: 50px;
    
    }
}

@media(max-width: 700px)
{
    header .logo img
    {
        max-width: 100px;
        height: 70px;
    }

    header .logo 
    {
        margin-left: 10px;
    }

    header .perfil 
    {
        margin-right: 40px;
        
    }

    header .aco
    {
        margin-bottom: 10px;
    }

    header .acoexp
    {   
        font-size: 20px;
        display: grid;
        justify-content: center;
    }

    .pesquisa
    {
        width: 70%;
    }

    .icones
    {
        width: 70%;
    }
    
}

    .janela-modal
    {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #0000004b;
        z-index: 999;
        align-items: center;
        justify-content: center;
        display: none;
    }
    .modal 
    {
        width: 40%;
        height: 60%;
        min-width:400px;
        min-height: 200px;
        background-color: #ffffff62;
        backdrop-filter: blur(10px);
        padding: 50px;
        border-radius: 10px;
    }
    .fechar
    {
        font-size: 20px;
        position: absolute;
        top: -10px;
        right: -10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        background-color: cadetblue;
        color: #fff;
        cursor: pointer;
        transition: 0.5s ease;

    }

@keyframes animacao
{
    from
    {
        opacity: 0;
        transform: translate3d(0, -20px, 0);
    } 
    to 
    {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
    .fechar:hover
    {
        background-color: #ff4c2c;
    }
    .janela-modal.abrir
    {
        display: flex;
    }

.janela-modal.abrir .modal
{
    animation: animacao .3s forwards; 
}

a:focus
{
    outline: none !important;
}







